*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body{
    background-color: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
    width: 100 wh;
}

html{
    background: #eee;
}

.box_{

    width: 25vw;
    height: 50vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0,0,0,0.7);
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
    min-width: 20rem;
    min-height: 35rem;
    background-color: #a5bbdd;
    border: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inputfield{
    width: 50%;
    margin: auto;
    border-radius: 5rem;
    padding: 1rem;
    outline: none;
    font-size: 1.5rem;
    height: 20px;
}

.inputData{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-height: 500px){
    .box{
        height: 80vh;
    }
}

@media (max-width: 600px){
    .box{
        height: 80vh;
        width:90wh;
    }
}

.info{
    font-size: 1.5rem;
}

.temp{
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
}

.tempmin_max{
    text-align: center;
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: #57606f;
}

.location{
    margin-top: 5.5rem;
    text-align: center;
    font-weight: 200;
    font-size: 3rem;
    text-transform: capitalize;
}


p{
    text-align: center;
    font-size: 2rem;
}

i{
    margin-right: 15px;
}